<div class="page-header">
	<div class="btn-group pull-right" data-toggle="buttons-radio">
		<button class="btn" id="showGrid"><i class="icon-th"></i> Grid</button>
		<button class="btn active" id="showList"><i class="icon-list"></i> List</button>
	</div>
	<h1>
		<% if @q.nil? %>
			<%= params[:order_type] or 'all' %> Nutshells
		<% else %>
			Nutshells About <code style="font-size:30px"><%= @q %></code>
			<a class="btn" href="/" title="Clear search">&times;</a>
		<% end %>
	</h1>
</div>

<ul id="nuts" class="unstyled grid">
	<% @nuts.each do |nut| %>
	<li>
		<div class="<%= 'big' unless nut.attributes.has_key? 'body' %> nut">
			<span class="title">
				<%= link_to nut.title, "/#{nut.title}" %>
			</span>
			<span class="icon"><i class="icon-lemon"></i></span>
			<% if nut.attributes.has_key? 'body' %>
			<span class="body"><%= nut.body %></span>
			<span class="rating"><%= raw rating nut %></span>
			<% end %>
		</div>
	</li>
	<% end %>
</ul>
