<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Username" %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email, placeholder: "Email address" %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, class: "input-small", placeholder: "Password" %>&nbsp;&nbsp;&nbsp;
    <%= f.password_field :password_confirmation, class: "input-small",placeholder: "Again" %>
  </p>
  <p><button type="submit" class="btn btn-primary"><%= @user.new_record? ? "Sign up" : "Update" %></button></p>
<% end %>
