<!DOCTYPE html>
<html>
<head>
  <title>Nutshells<%= content_for?(:title) ? " | #{yield(:title)}" : "" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand title" href="/">NUTSHELLS <i class="icon-lemon"></i></a>
      <ul class="nav">
        <li class="<%= 'active' if params[:action] == 'index' and params[:order_type].nil? %>">
          <a href="/">Home</a>
        </li>
        <li class="<%= 'active' if params[:order_type] == :top %>"><a href="/top">Top</a></li>
        <li class="<%= 'active' if params[:order_type] == :recent %>"><a href="/new">New</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><button class="btn btn-primary" data-toggle="modal" data-target="#newNutForm"><i class="icon-pencil"></i> New Nut</button></li>
        <li>
          <form method="get" action="/" class="navbar-search">
            <%= text_field_tag :query, nil, class: "search-query input-medium", placeholder: "Search for nutshells" %>
          </form>
        </li>
        <li class="divider-vertical"></li>
        <% if logged_in? %>
          <li><%= link_to current_user.username, edit_current_user_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="span10 offset1">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert #{alert_class(name)}", id: "flash_#{name}" do %>
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg %>
      <% end %>
    <% end %>
  </div>

  <% if show_title? %>
    <div class="page-header"><%= content_tag :h1, yield(:header_title)%></div>
  <% end %>
  <div class="row-fluid">
    <%= yield %>
  </div>
</div>

<div class="modal fade" id="newNutForm">
  <%= form_for(@nut = Nut.new, remote: true) do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      Create a New Nut
    </div>
    <div class="modal-body">
      <%= f.text_field(:title, class: "full giant title", placeholder: "WHAT") %>
      <label class=""><h1>IN A NUTSHELL IS</h1></label>
      <%= f.text_area(:body, rows: 2, class: "full") %>
    </div>
    <div class="modal-footer row-fluid">
      <span class="span4"></span>
      <button id="submitNewNutButton" type="submit" class="btn btn-large btn-primary span6"><i class="icon-lemon"></i> Create Nut</button>
      <button type="cancel" class="btn btn-large span2" data-dismiss="modal">Cancel</button>
    </div>
  <% end %>
</div>
</body>
</html>
